@import url('https://fonts.googleapis.com/css2?family=Days+One&display=swap');
*{
  margin: 0;
  padding: 0;
  font-family: 'Days One', sans-serif;
  box-sizing: border-box;
  
}

body {
  background-color: #222831 !important;
  color: #eeeeee !important;
  box-sizing: border-box;
  position: relative;
  padding: 0 20px;
  @media(min-width: 992px){
    padding:35px 20px;
  }
}

