.Navbar {
  top: 0;
  height: 39px;
  @media (min-width: 992px) {
    position: fixed;
    left: 0;
    width: 100%;
    z-index: 2;
    height: auto;
    padding: 50px 0;
    transition: 0.5s;
  }
}

.Navbar--bg {
  top: 0;
  height: 39px;
  @media (min-width: 992px) {
    position: fixed;
    left: 0;
    width: 100%;
    z-index: 2;
    height: auto;
    padding: 20px 0;
    background-color: rgba($color: #ffffff, $alpha: 1);
    transition: 0.5s;
  }
}

.Navbar-btnContainer--hide {
  overflow: hidden;
  position: fixed;
  top: 0;
  right: 0;
  width: 0;
  height: 100%;
  transition: 0.5s;

  .close {
    display: none;
  }

  .Navbar-buttonMenu {
    display: none;
    @media (min-width: 992px) {
      display: flex;
      justify-content: right;
      .Navbar-btnContainer--mr {
        margin-right: 20px;
      }
    }
  }

  @media (min-width: 992px) {
    max-width: 1200px;
    margin: 0 auto;
    position: unset;
    width: 100%;
  }
}

.Navbar-btnContainer--show {
  position: fixed;
  z-index: 99;
  top: 0;
  right: 0;
  width: 90%;
  height: 100%;
  background-color: #020c1b;
  padding: 30px;
  transition: 0.5s;

  .close {
    display: block;
    position: absolute;
    top: 25px;
    right: 30px;
    padding: 0;
  }

  .Navbar-btnContainer--mr {
    margin: 35px 0 0 0;
  }
}

.Navbar-icon {
  padding: 0 15px 0 0;
  background-color: transparent;
  border: none;

  @media (min-width: 992px) {
    display: none;
  }
}

.hamburger {
  position: absolute;
  top: 25px;
  right: 10px;
}
