.Card {
  width: 200px;
  height: auto;
  
  @media (min-width: 992px) {
    width: 300px;
  }
  
}
.ant-card{
  margin: 0 auto !important;
  width: 150px !important;
  @media(min-width: 992px){
    width: unset !important;
  }
}

.ant-image{
  border: 1px solid white;
  img{
   width: 100%;
  }
}
.ant-card-body {
  padding: 0 !important;
  border-top: 1px solid #d3cece;
}

.ant-card-meta-title{
  font-size: 13px !important;
  margin:  0 !important;
  @media(min-width: 992px){
    font-size: 18px !important;
  }
}

.ant-card-meta-description{
  font-size: 10px;
  @media(min-width: 992px){
    font-size: 12px !important;
  }
}

.Card-btn{
  width: 100%;
  display: flex;
  justify-content: center;
  & button{
    width: 100%;
  }
}